body {
	background: black;
}

/* {
	border: 1px dashed red;
	min-height: 10px;
}
*/

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	align-items: center;
}

img {
	height: 50px;
	width: 50px;
	margin: right;
}

h1 {
	width: 330px;
	margin: 5px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.postcard-body {
	display: flex;
}

.body-left {
	padding: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.body-right {
	padding: 20px;
}

input {
	border: none;
	border-bottom: 2px solid greenyellow;
}

.postcard-footer {
	text-align: center;
}

button {
	background: goldenrod;
	color: white;
	padding: 5px;
}
